@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --iriscolor: #4d5ae5;
  --navyblue: #2e2f42;
  --navcolor: black;
  --oceancolor: #404bbf;
  --whitecolor: white;
  --slatecolor: #434455;
  --cloudcolor: #f4f4fd;
  --cornflower: #e7e9fc;
  --greencolor: #31d0aa;
  --lightslate: #8e8f99;
  --dairycolor: #fcfcfc;
  --greycolor: rgba(46, 47, 66, 0.7);
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--navyblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin: 0;
}

.lists {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.links {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: 0 auto;
  width: 1158px;
  padding: 0 15px;
}

.link-logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.03em;
  padding: 24px 0;
 
}
.web-logo {
  color: var(--iriscolor);
}
.studio-logo {
  color: var(--navyblue);
}

.header {
  border-bottom: 1px solid var(--cornflower);
  background: var(--whitecolor);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pages {
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pages::after {
  content: "";
  border-radius: 2px;
  border: 2px solid transparent;
  height: 4px;
  width: 0;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pages:hover::after,
.pages:focus::after {
  border: 2px solid var(--oceancolor);
  background-color: var(--oceancolor);
  width: 100%;
}

.current-page::after {
  content: "";
  background-color: var(--oceancolor);
  border: 2px solid var(--oceancolor);
  border-radius: 2px;
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -2px;
}

.current-page,
.contact-address-link:hover,
.contact-address-link:focus {
 color: var(--oceancolor);
}


.header-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  display: flex;
  gap: 40px;
  margin-left: 76px;
}

.contact-info {
  display: flex;
  gap: 40px;
}

.contact-info-item{
  color: var(--slatecolor);
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.contact-address-link {
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero {
  background-color: var(--navyblue);
  height: 600px;
  flex-shrink: 0;
  padding: 188px 0;
  background-image: url(../images/people-office-dark-bg.png), url(../images/people-office\ -bg.jpg),
  linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: 1440px, 1440px;
}

.hero-container {
  text-align: center;
}


.head-label {
  color: var(--whitecolor);
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 48px;
  
}
.btn-item {
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  background: var(--cloudcolor);
  color: var(--iriscolor);
  font-weight: 500;
  letter-spacing: 0.64px;
  cursor: pointer;
  font-size: 16px;
  font-family: inherit;
  line-height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-item:hover, .btn-item:focus {
   background-color: var(--iriscolor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--iriscolor);
  border-radius: 4px;
  color: var(--whitecolor);
  cursor: pointer;
}
.active {
 background-color: var(--oceancolor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--oceancolor);
  border-radius: 4px;
  color: var(--whitecolor);
  cursor: pointer;}

.btn-primary {
  color: var(--whitecolor);
  background-color: var(--iriscolor);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-primary:hover{
  background-color: var(--oceancolor);
  cursor: pointer;
}

.btnlist {
  margin-bottom: 72px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectlist {
 display: flex;
  flex-wrap: wrap;
  margin-right: -24px;
  margin-bottom: -48px;
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 24px;
  margin-bottom: 48px;
}

.product-link{ 
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-link:hover,
.product-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.product-cover-wrap {
  position: relative;
  overflow: hidden;
} 

.product-cover-text{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 40px 32px;
  background-color: var(--iriscolor);
  color: var(--cloudcolor);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-link:hover .product-cover-text,
.product-link:focus .product-cover-text { 
  transform: translateY(0);
}

.project-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  padding: 32px 16px;
  border-top: 0px;
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  background-color: var(--whitecolor);
}

.project-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.project-category{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--slatecolor);
}

.labels {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.content-list {
  display: flex;
  gap: 20px;
}

.content-item {
  background-color: var(--whitecolor);
  display: flex;
  width: calc((100% - 40px) / 3);
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
  
.text {
  color: color: var(--slatecolor);
}

.section{
 padding: 120px 0;
}

.section-no-top-padding {
   padding-top: 0;
}

.box-svg {
  background-color: var(--cloudcolor);
  width: 264px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 8px;
}

.social-mngt {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-mngt-item {

}

.social-mngt-link{
  background-color: var(--iriscolor);
  color: var(--cloudcolor);
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-mngt-link:hover,
.social-mngt-link:focus {
  background-color: var(--oceancolor);
}

.social-mngt-svg {
  fill: currentColor;
}

.mngt-container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}


.whatwedo-list {
  display: flex;
  justify-content: space-between;
}


.section-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.mngt-name {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.mngt-position{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.section-mngt{
  background-color: var(--cloudcolor)
}
.mngt-list {
  display: flex;
  gap: 24px;
  text-align: center;
}

.mngt-item {
 border-radius: 0px 0px 4px 4px;
  background: var(--whitecolor);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.name-content{
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 32px;
  width: 100%;
  text-align: center;
}

.customers-title {
  color: var(--navyblue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item { 
 
}

.customers-link {
  width: 168px;
  height: 88px;
  border: 1px solid var(--lightslate);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--lightslate),
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--oceancolor);
  color:var(--oceancolor);
}

.customers-svg {
  width: 104px;
  height: 56px;
  fill: currentColor;
}

.footerbg {
  background-color: var(--navyblue);
  padding: 100px 0;
}
.logo-studio {
  color: var(--whitecolor);
}
.footermsg {
 color: var(--cloudcolor);
  margin-top: 17px;
}
.footer {
  padding-top: 101.5px;
}
.footerbg-container{
  display: flex;
  align-items: flex-start;
}

.social-footer-list{
  flex-wrap: wrap;
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.social-footer {
  margin-left: 120px;
}

.social-footer-text{
  color: var(--whitecolor);
  display: flex;
}

.social-footer-item {
  width: 40px;
  height: 40px;
}

.social-footer-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--iriscolor);
 
}

.social-footer-link:hover,
.social-footer-link:focus {
  background-color: var(--greencolor);
}

.social-footer-svg {
  fill: var(--cloudcolor);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 408px;
  min-height: 584px;
  background-color:var(--dairycolor);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
  0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  top: 8px;
  right: 8px;

  background-color: var(--cornflower);
  color: var(--navyblue);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close:hover,
.modal-close:focus {
  background-color: var(--oceancolor);
  color: var(--whitecolor);
}

.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}

.modal-close-icon {
  fill: currentColor;
}